body {
  margin: 0;
  color: rgb(0, 54, 36);
  font-family: "Montserrat", sans-serif;
  background: #9ce9ce;
}

header {
  background: rgb(0, 54, 36);
  background-image: url(images/background.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
}

.header-text {
  position: absolute;
  top: 165px;
  left: 10%;
}

h1 {
  color: #f9f9f9;
  font-size: 40px;
  margin: 2px;
}

h4 {
  color: #f9f9f9;
  margin: 0;
  font-weight: 300;
  font-size: 13px;
}

p {
  font-size: 19;
}

.highlight-name {
  font-weight: 700;
}

.header-links {
  position: absolute;
  top: 60px;
  right: 5%;
  padding: 30px 10px;
}

.btn {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  margin: 5px;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
}

.btn:hover {
  opacity: 0.7;
}

#btn-in {
  background-image: url("images/linkedin-48.png");
}

#btn-git {
  background-image: url("images/github-48.png");
}

#btn-stack {
  background-image: url("images/stackoverflow-48.png");
}

figure {
  width: 162px;
  position: absolute;
  margin: 0;
  top: 290px;
  right: 10%;
}

.profile-pic {
  border-radius: 50%;
  border: 3px #f9f9f9 solid;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.line-dot {
  height: 3px;
  width: 55px;
  background: rgb(0, 54, 36);
  position: relative;
  float: left;
  margin-top: 9px;
  margin-right: 13px;
}

.line-dot::after {
  content: "";
  height: 11px;
  width: 11px;
  position: relative;
  float: right;
  bottom: 4px;
  border-radius: 50%;
  background: rgb(0, 54, 36);
}

.textbox {
  margin: 0 7%;
  max-width: 800px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: left;
  padding-top: 40px;
  padding-bottom: 20px;
  width: auto;
}

.tech,
.my-thoughts,
.more {
  background: #e8fff2;
  margin: 0;
  width: auto;
}

h3 {
  background: rgb(0, 54, 36);
  color: #f5f5f5;
  font-size: 22px;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

h5 {
  color: #f5f5f5;
  font-size: 17px;
  padding: 5px;
  font-weight: bold;
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  max-width: 1000px;
}

.project-cards {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  width: 100%;
  margin: 20px;
  max-width: 403px;
}

.project-cards:hover {
  opacity: 0.9;
}

.card-backgound {
  display: flex;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 0 0 100vmax rgba(14, 29, 21, 0.493);
  border-radius: 3px;
  width: 100%;
  height: 239px;
  justify-content: center;
  align-items: center;
}

.project-cards p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

a {
  text-decoration: none;
  color: rgb(0, 54, 36);
}

.project-card-title {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  color: #f5f5f5;
  position: absolute;
}

.highlight {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.project-tags {
  display: flex;
}

.tag {
  background-color: #3f8f31cc;
  color: #f9f9f9;
  padding: 2px 6px;
  margin: 0 3px 5px 3px;
  font-size: 9px;
}

.other-projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 646px;
  margin: 5px;
}

.other-header {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 21px;
  color: rgb(0, 54, 36);
  font-weight: 700;
  margin: 30px 0 20px 0;
  align-self: center;
}

.other-links:hover {
  opacity: 0.8;
}

.thoughts-card-backgound {
  display: flex;
  background-size: cover;
  background-position: center center;
  border-radius: 3px;
  width: 303px;
  height: 179px;
  justify-content: center;
  align-items: center;
}

.date {
  margin: 4px 0;
  color: rgb(112, 112, 112);
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.thoughts-highlight {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  font-weight: 700;
}

/* skills */

.skill-box-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  max-width: 700px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 15px 0;
}

li {
  font-size: 15px;
  line-height: 1.5;
}

h6 {
  margin: 0;
  font-size: 17px;
}

/* MORE */

.more-btn {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin: 10px;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
}

.more-btn:hover {
  opacity: 0.7;
}

#more-btn-in {
  background-image: url("images/linkedin-5-64.png");
}

#more-btn-git {
  background-image: url("images/github-10-64.png");
}

#more-btn-stack {
  background-image: url("images/stackoverflow-5-64.png");
}
footer {
  background-color: rgb(98, 136, 89);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 40px 20px;
  width: 100%;
  color: #ffffff;
}

.email {
  color: #ffffff;
  margin: 0px;
}

.email:hover {
  opacity: 0.7;
}

@media (min-width: 770px) {
  figure {
    width: 210px;
    top: 260px;
    right: 10%;
  }
  .project-cards {
    max-width: 303px;
  }
  .more-btn {
    margin: 30px;
  }
}

@media (min-width: 1025px) {
  figure {
    width: 330px;
    top: 230px;
    right: 10%;
  }

  header {
    height: 550px;
  }

  #btn-in {
    background-image: url("images/linkedin-64.png");
  }

  #btn-git {
    background-image: url("images/github-64.png");
  }

  #btn-stack {
    background-image: url("images/stackoverflow-64.png");
  }

  .btn {
    width: 58px;
    height: 58px;
  }

  .project-cards {
    max-width: 403px;
  }
}
